@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.menu {
    background-color: #FF2C2C;
    height: 80px;
    width: 100%;
}

.logo1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 100px;
}

.buttons {
    font-family: 'Comfortaa';
    float: right;
    margin-right: 20px;
}

li {
    display: inline-block;
    line-height: 70px;
    margin: 5px;
}

a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 30px;
}

a:hover {
    background-color: #c42323;
    transition: .3s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.titulo1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top:30px;
}

.texto1 {
    font-family: 'Comfortaa';
    font-size: 15px;
    text-align: center;
    margin-top:30px;
}

.divimg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.img1 {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.titulo2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}

.texto2 {
    font-family: 'Comfortaa';
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa';
    margin-top: 40px;
}

.divimg2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.img2 {
    border-radius: 10px;
    margin-right: 30px;
}

.description {
    font-family: 'Comfortaa';
    color: #666666;
    text-align: center;
    margin-top: 50%;
    font-size: 10px;
    margin-bottom: 20px;
}

.box {
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF2C2C;
    text-align: center;
    border-radius: 10px;
}

.input1 {
    background: white;
    font-family: 'Comfortaa';
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}


.titulo3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: white;
}

.box1 {
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e82525;
    text-align: center;
    border-radius: 10px;
}

.input2 {
    background: white;
    font-family: 'Comfortaa';
    border-style: none;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    outline: none;
}


.titulo4 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: white;
}

.button2 {
    font-family: 'Comfortaa';
    padding: 5px;
    border-style: none;
    background-color: white;
    border-radius: 20px;
    margin-top: 25px;
    border-color: white;
    width: 100%;
}

.button2:hover {
    background-color: #c6c6c6 ;
    transition: .2s;
}

.loginbody {
    background-color: #c41d1d;
}

.button1:hover {
    border-color: #2ecc71;
}

.arrow {
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.arrow:hover {
    color: rgb(194, 194, 194);
}

@media (max-width:858px) {
    .logo1 {
        font-size: 30px;
        padding-left: 50px;
    }
    a {
        font-size: 16px;
    }
    .checkbtn {
        display: block;
    }
    .buttons {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #c42323;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .7s;
    }
   li {
        display: flex;
        flex-direction: column;
    }
    a:hover {
        background-color: #9e1e1e;
    
    }
    #check:checked ~ .buttons {
        left:0;
    }

    .texto2{
        margin-left: 30px;
        margin-right: 30px;
    }

    .divimg2 {
        flex-direction: column;
    }

    .img2 {
        margin-top: 10px;
        margin-right: 0px;
    }

    .formulario {
    }
}
